<nav class="bg-slate-900 border-b border-slate-800">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-3 flex items-center justify-between">
    <div class="flex items-center gap-3">
      <div class="text-slate-200 font-semibold text-lg">
        Sistema de Planificación de Proyectos de Financiamiento
      </div>
    </div>

    <!-- Menú de navegación -->
    <div class="flex items-center gap-2">
      <!-- Opciones para usuarios logueados -->
      <div *ngIf="isLoggedIn" class="flex items-center gap-2">
        <button 
          class="cursor-pointer px-3 py-1.5 rounded-md text-white transition bg-indigo-600" 
          routerLink="/app/my-projects">
          Mis Proyectos
        </button>
        <button 
          class="cursor-pointer px-3 py-1.5 rounded-md text-white transition bg-[#059669]"
          routerLink="/app/collaborations">
          Colaborar
        </button>
        <button 
          class="cursor-pointer px-3 py-1.5 rounded-md text-white transition bg-orange-500" 
          routerLink="/app/monitoring">
          Monitoreo y Seguimiento
        </button>
        <button class="cursor-pointer px-3 py-1.5 rounded-md bg-rose-600 text-white hover:bg-rose-500 transition ml-25" (click)="logout()">
          Cerrar sesión
        </button>
      </div>

      <!-- Opciones para usuarios no logueados -->
      <div *ngIf="!isLoggedIn && currentRoute === '/register'" class="flex items-center">
        <button class="px-3 py-1.5 rounded-md bg-indigo-600 text-white hover:bg-indigo-500 transition" routerLink="/login" routerLinkActive="!bg-indigo-700">
          Iniciar sesión
        </button>
      </div>
    </div>
  </div>
</nav>