<div class="flex flex-col gap-10">
    <!-- MIS PROYECTOS EN EJECUCIÓN -->
    <app-projects-list 
        tableTitle="Mis Proyectos en Ejecución"
        [projects]="projectsInExecution" 
        emptyStateMessage="Actualmente no tienes proyectos en estado de ejecución. Los proyectos aparecerán aquí una vez que los ejecutes."
        [canCreateProyect]="false"
        [canCollaborate]="false"
        [canViewCollaborations]="false"
        [canExecuteProyect]="false"
        [canCompleteCommitment]="false"
        [canCompleteProyect]="true">
    </app-projects-list>

    <!-- MIS PROYECTOS -->
    <app-projects-list 
        tableTitle="Mis Proyectos"
        [projects]="otherProjects" 
        emptyStateMessage="No tienes proyectos pendientes de ejecución. Crea tu próximo proyecto."
        [canCreateProyect]="true"
        [canCollaborate]="false"
        [canViewCollaborations]="true"
        [canExecuteProyect]="true"
        [canCompleteCommitment]="false">
    </app-projects-list>
</div>