<div class="flex flex-col gap-10">
    <!-- MIS PROYECTOS EN EJECUCIÓN -->
    <app-projects-list 
        tableTitle="Mis Proyectos en Ejecución"
        [projects]="projectsInExecution" 
        [canCompleteProyect]="true"
        [canViewObservationsHistory]="true"
        (projectUpdated)="onProjectUpdated($event)"
        emptyStateMessage="Actualmente no tienes proyectos en estado de ejecución. Los proyectos aparecerán aquí una vez que los ejecutes.">
    </app-projects-list>

    <!-- MIS PROYECTOS -->
    <app-projects-list 
        tableTitle="Mis Proyectos"
        [projects]="otherProjects" 
        [canCreateProyect]="true"
        [canViewCollaborations]="true"
        [canExecuteProyect]="true"
        (projectUpdated)="onProjectUpdated($event)"
        emptyStateMessage="No tienes proyectos pendientes de ejecución. Crea tu próximo proyecto.">
    </app-projects-list>
</div>